/**
 *  Containers
 */

.container,
.container-fluid {
	box-sizing: border-box;
	width: 100%;
	padding-right: ($grid-gutter / 2);
	padding-left: ($grid-gutter / 2);
	margin-right: auto;
	margin-left: auto;
}

.container {
	@each $breakpoint, $max-width in $container-max-widths {
		@media (min-width: #{$breakpoint}) {
			max-width: #{$max-width};
		}
	}
}

/**
	*  Rows
	*/

.row {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	margin-right: -$grid-gutter / 2;
	margin-left: -$grid-gutter / 2;
	flex: 0 1 auto;
	flex-wrap: wrap;
}

/**
	* Columns
	*/

[class^='col-'],
[class*=' col-'] {
	display: flex;
	flex: 0 0 auto;
	position: relative;
	box-sizing: border-box;
	padding-right: $grid-gutter / 2;
	padding-left: $grid-gutter / 2;
}

@each $breakpoint, $width in $breakpoints-min {
	@media (min-width: $width) {
		@for $i from 1 through $grid-columns {
			.col-#{$breakpoint}-#{$i} {
				width: percentage($i / $grid-columns);
			}
		}
	}
}

/**
	* Offsets
	*/

@each $breakpoint, $width in $breakpoints-min {
	@media (min-width: $width) {
		@for $i from 1 through $grid-columns {
			.col-#{$breakpoint}-offset-#{$i} {
				margin-left: percentage($i / $grid-columns);
			}
		}
	}
}

/**
	* Hide
	*/

@for $i from 1 through length($breakpoints-max) {
	@if ($i < length($breakpoints-max)) {
		@media (max-width: nth( map-values($breakpoints-max), $i )) {
			.hide-#{nth( map-keys($breakpoints-max), $i )} {
				display: none;
			}
		}
	} @else {
		.hide {
			display: none;
		}
	}
}
