/**
 *  Variables
 */

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$breakpoints-min: (
	'xs': $xs,
	'sm': $sm,
	'md': $md,
	'lg': $lg,
	'xl': $xl
);

$breakpoints-max: (
	'xs': $sm - 1,
	'sm': $md - 1,
	'md': $lg - 1,
	'lg': $xl - 1,
	'xl': 9999px
);

$sm-max-container-width: 540px;
$md-max-container-width: 720px;
$lg-max-container-width: 960px;
$xl-max-container-width: 1140px;

$container-max-widths: (
	$sm: $sm-max-container-width,
	$md: $md-max-container-width,
	$lg: $lg-max-container-width,
	$xl: $xl-max-container-width
);

$grid-gutter: 30px;
$grid-columns: 12;

/**
 *  Containers
 */

.container,
.container-fluid {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	padding-right: ($grid-gutter / 2);
	padding-left: ($grid-gutter / 2);
	margin-right: auto;
	margin-left: auto;
}

.container {
	@each $breakpoint, $max-width in $container-max-widths {
		@media (min-width: #{$breakpoint}) {
			max-width: #{$max-width};
		}
	}
}

/**
	*  Rows
	*/

.row {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	margin-right: -$grid-gutter / 2;
	margin-left: -$grid-gutter / 2;
	flex: 0 1 auto;
	flex-wrap: wrap;
}

/**
	* Columns
	*/

[class^='col-'],
[class*=' col-'] {
	display: flex;
	flex: 0 0 auto;
	position: relative;
	box-sizing: border-box;
	padding-right: $grid-gutter / 2;
	padding-left: $grid-gutter / 2;
}

@each $breakpoint, $width in $breakpoints-min {
	@media (min-width: $width) {
		@for $i from 1 through $grid-columns {
			.col-#{$breakpoint}-#{$i} {
				width: percentage($i / $grid-columns);
			}
		}
	}
}

/**
	* Offsets
	*/

@each $breakpoint, $width in $breakpoints-min {
	@media (min-width: $width) {
		@for $i from 1 through $grid-columns {
			.col-#{$breakpoint}-offset-#{$i} {
				margin-left: percentage($i / $grid-columns);
			}
		}
	}
}

/**
	* Hide
	*/

@for $i from 1 through length($breakpoints-max) {
	@if ($i < length($breakpoints-max)) {
		@media (max-width: nth( map-values($breakpoints-max), $i )) {
			.hide-#{nth( map-keys($breakpoints-max), $i )} {
				display: none;
			}
		}
	} @else {
		.hide {
			display: none;
		}
	}
}
