@mixin transition($val) {
	transition: $val;
	-o-transition: $val;
	-ms-transition: $val;
	-moz-transition: $val;
	-webkit-transition: $val;
}

@mixin transform($val) {
	transform: $val;
	-o-transform: $val;
	-ms-transform: $val;
	-moz-transform: $val;
	-webkit-transform: $val;
}

@mixin box-shadow($val) {
	box-shadow: $val;
	-o-box-shadow: $val;
	-ms-box-shadow: $val;
	-moz-box-shadow: $val;
	-webkit-box-shadow: $val;
}

@mixin scroll_bar {
	@media (min-width: $sm) {
		&::-webkit-scrollbar {
			width: 7px;
		}

		&::-webkit-scrollbar-thumb {
			background: rgb(221, 221, 221);
			border-radius: 20px;
		}

		&::-webkit-scrollbar-thumb:hover {
			background: rgb(197, 197, 197);
		}
	}
}
