/**
 *	Margin all
 */

@each $degree, $size in $spacing {
	.ma-#{$degree} {
		margin: $size;
	}
}

/**
 *	Margin axis-y
 */

@each $degree, $size in $spacing {
	.my-#{$degree} {
		margin-top: $size;
		margin-bottom: $size;
	}
}

/**
 *	Margin top
 */

@each $degree, $size in $spacing {
	.mt-#{$degree} {
		margin-top: $size;
	}
}

/**
 *	Margin bottom
 */

 @each $degree, $size in $spacing {
	.mb-#{$degree} {
		margin-bottom: $size;
	}
}

/**
 *	Padding all
 */

 @each $degree, $size in $spacing {
	.pa-#{$degree} {
		padding: $size;
	}
}

/**
 *	Padding axis-x
 */

 @each $degree, $size in $spacing {
	.px-#{$degree} {
		padding-right: $size;
		padding-left: $size;
	}
}

/**
 *	Padding axis-y
 */

 @each $degree, $size in $spacing {
	.py-#{$degree} {
		padding-top: $size;
		padding-bottom: $size;
	}
}

/**
 *	Padding top
 */

@each $degree, $size in $spacing {
	.pt-#{$degree} {
		padding-top: $size;
	}
}