/**
 * Grid system
 */

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$breakpoints_min: (
	'xs': $xs,
	'sm': $sm,
	'md': $md,
	'lg': $lg,
	'xl': $xl
);

$breakpoints_max: (
	'xs': $sm - 1,
	'sm': $md - 1,
	'md': $lg - 1,
	'lg': $xl - 1,
	'xl': 9999px
);

$sm_max_container_width: 540px;
$md_max_container_width: 720px;
$lg_max_container_width: 960px;
$xl_max_container_width: 1140px;

$container_max_widths: (
	$sm: $sm_max_container_width,
	$md: $md_max_container_width,
	$lg: $lg_max_container_width,
	$xl: $xl_max_container_width
);

$grid_gutter: 32px;
$grid_columns: 12;

/**
 * Spacing
 */

$spacing: (
	'0': 0rem,
	'1': 0.5rem,
	'2': 1rem,
	'3': 1.5rem,
	'4': 2rem,
	'5': 2.5rem
);

/**
 * Sizing
 */

 $sizing: (
	'0': 0.6rem,
	'1': 0.8rem,
	'2': 1rem,
	'3': 1.2rem,
	'4': 1.6rem,
	'5': 2rem,
	'6': 2.6rem
);

/**
 * Colors
 */

$primary: #1C3562;
