#main-sidebar.sidebar {
	background: rgb(255, 255, 255);
	top: 0;
	right: 0;
	bottom: 0;
	width: 300px;
	max-width: 75%;
	z-index: 8;

	@include box-shadow(5px 0px 10px 6px rgba(51, 51, 51, 0.75));
	@include transform(translate(calc(100% + 10px)));
	@include transition(350ms ease);
	opacity: 0;

	&.active {
		@include transform(translate(0));
		opacity: 1;
	}

	.top-bar {
		#menu-close-button {
			font-size: 1.5rem;
			cursor: pointer;
		}
	}

	.main-area {
		flex-grow: 1;
		overflow-y: scroll;
		@include scroll_bar;
	}
}
